FORMAT: 1A
HOST: http://www.csast.csas.cz/webapi/api/v2

# EXT-1\_CSAS\_Netbanking

Last update: **21.08.2015 14:21**

## Data Structures

### ACCOUNT (ACCOUNT_LIGHT)

This object represents account in bank.

#### Properties

- overdraft (AMOUNT, optional) - Overdraft value. Exists only for current accounts.
- overdraftDueDate: `2015-07-31` (DATE, optional) - Due date of overdraft. Only for overdrafts where automatic prolongation is not set.
- description: Tonda Paleček (string, optional) - Account description. Currently account owner name is returned.
- flags (array[string], optional) - Array of flags for messages.
    - Sample
        - accountQueryAllowed
        - domesticTransferAllowed
        - internationalTransferAllowed
        - ownTransferAllowed
        - urgentTransferAllowed
    - Items
        - accountQueryAllowed - User may see the transaction list for this account.
        - ownTransferAllowed - Account may be used for transfer between own accounts.
        - domesticTransferAllowed - Account may be used for domestic payments.
        - collectiveSigning - Indicates if orders sended from this account have to be signed by at least two users.
        - internationalTransferAllowed - Account may be used for foreign payments.
        - urgentTransferAllowed - Account may be used for urgent transfers.
        - offline - Account is offline (no transactions can be requested), but still visible to the user. e.g. account is currently closing.
        - owner - Current user is owner of the account.
        - dcsAllowed - Account is enabled for "Data Carrier Service".
        - electronicStatementAllowed - User may see the electronic statements list and download statement for this account.
- subaccounts (array[SUBACCOUNT], optional) - Possible list of subaccounts. Currently only linked saving accounts are returned.
- creditInterestRate: 0.5 (number, optional) - Basic credit interest rate, used for current and saving accounts. Value in percentage, e.g. 0.5 will be dispayed as 0,5 %.
- debitInterestRate: 11.5 (number, optional) - Basic debit Interest rate, used for Loan and Mortgage account. Value in percentage, e.g. 11.5 will be dispayed as 11,5 %.
- penaltyInterestRate: 19.5 (number, optional) - For loans (not mortgages) this is interest rate which apply when repayment is delayed. Value in percentage, e.g. 19.5 will be dispayed as 19,5 %.
- loan (LOAN_ACCOUNT_DATA, optional) - Object holding specific data for loans.
- saving (SAVING_ACCOUNT_DATA, optional) - Object holding specific data for savings.
- ownTransferReceivers (array[OWN_TRANSFER_RECEIVER], optional) - Array of allowed receivers. If this array is empty you can transfer funds to all possilbe accounts. Otherwise transfer is restricted to given list of accounts.

### ACCOUNT_BALANCE (object)

Account balance.

#### Properties

- balance (AMOUNT, required) - Account balance for Current account, Saved amount for Saving, Principal Outstanding for Loan/Mortgage.
- disposable (AMOUNT, optional) - Disposable balance for Current account.
- overdraft (AMOUNT, optional) - Overdraft amount for Current amount.

### ACCOUNT_LIGHT (object)

Account Light version.

#### Properties

- id: CCA4F9863D686D04 (string, required) - Unique product id.
- accountno (ACCOUNTNO_FULL, required) - Account number of this account.
- alias: Toto je moje osobní pojmenování tohoto produktu (string, optional) - User defined account name.
- balance (AMOUNT, required) - Actual account balance. For loans this field contains outstanding principal.
- disposable (AMOUNT, optional) - Disposable account balance.
- type: CURRENT (ACCOUNT_TYPE, required) - Product type.
- subtype: CURRENT_ACCOUNT (ACCOUNT_SUBTYPE, required) - Subtype type.
- productI18N: Osobní účet ČS II (string, required) - Product name.
- product: 54 (string, required) - Product code.
- subaccounts (array[SUBACCOUNT_LIGHT], optional) - Possible list of subaccounts. Currently only linked saving accounts are returned.
- loan (LOAN_ACCOUNT_LIGHT_DATA, optional) - Object holding specific data for loans.

### ACCOUNT_SERVICE (object)

Service object for accounts.

#### Properties

- id: CCA4F9863D686D04 (string, required) - Service identificator.
- nameI18N: Všechny platby v KČ (string, required) - Service name.
- iconGroup: DEFAULT (SERVICE_ICON_GROUP, required) - Icon Group.
- dateFrom: `2014-07-31+0100` (DATE, optional) - Service validity from.
- dateTo: `2014-08-31+0100` (DATE, optional) - Service validity to.

### ACCOUNT_TYPE (enum)

Enum which describes type of the account.

#### Members

- CURRENT - Current account.
- SAVING - Saving account.
- LOAN - Loan.

### ACCOUNT_SUBTYPE (enum)

Enum which describes subtype of the account.

#### Members

- CURRENT_ACCOUNT - Current account.
- GIRO_ACCOUNT - Giro account.
- FOREIGN_ACCOUNT - Foreign account.
- SAVING_ACCOUNT - Saving account.
- TERM_DEPOSIT - Term deposit.
- SAVING_PLUS - Saving plus.
- LOAN_ACCOUNT - Loan account.
- MORTGAGE - Mortgage

### ACCOUNTNO (enum)

Account number. Account number consists of IBAN (IBAN plus optional BIC) identification or local account number (BBAN) plus mandatory bank code plus optional country code. This is due to fact, that using of IBAN format was not adopted in all the Erste group countries. Some applications of ACCOUNTNO are restricted to one of the two flavors only. F.i. when posting new SEPA payment orders sender and receiver accounts must be specified by IBAN format only, or when posting new Domestic payment in CSAS BBAN format should be used. However when requesting existing transactions the receiver account may be returned in format BBAN or IBAN (for SEPA payments). Therefore the ACCOUNTNO object may in some cases only contain IBAN, only local BBAN, or both.

#### Members

- ACCOUNTNO_BBAN
- ACCOUNTNO_IBAN

### ACCOUNTNO_BBAN (object)

Domestic account number format.

#### Properties

- number: 1019382023 (string, required) - Account number with possible prefix. Format is "XXXXXX-NNNNNNNNNN" if prefix is not null or "000000". If prefix is not provided then format is "NNNNNNNNNN" without leading zeros.
- bankCode: 0800 (BANKCODE, required) - Bank code.
- countryCode: CZ (COUNTRYCODE, optional) - Code of the country. Mandatory for international orders.

### ACCOUNTNO_IBAN (object)

Account number represented by iban.

#### Properties

- iban: CZ0708000000001019382023 (IBAN, required) - International account number.
- bic: GIBACZPX (BIC, optional) - Business identification code.

### ACCOUNTNO_FULL (object)

Full account number. Consists of IBAN (IBAN plus optional BIC) identification and local account number (BBAN) plus mandatory bank code plus optional country code.

#### Properties

- `cz-iban`: CZ0708000000001019382023 (IBAN, optional) - International account number.
- `cz-bic`: GIBACZPX (BIC, optional) - Business identification code.
- Include ACCOUNTNO_BBAN

### ADDITIONAL_INFO (object)

Structure for payment additional info

#### Properties

- text4x35: poznamka pro prijemce (array[string], required) - Message for payee set during payment order creation. It is used to identify transaction on receiver side. Array of texts 4x35.

### ADDRESS (object)

Object represents postal address.

#### Properties

- street: Antala Staška (string, required) - Street part of the address.
- streetNumber: 32 (string, optional) - Number which is unique in street. Not all localities have streets.
- buildingApartment: 1292 (string, required) - Number which is unique in locality/town/village.
- zipCode: 140 00 (string, required) - Zip code of the address.
- city: Praha (string, required) - City where card should be sent.
- country: CZ (COUNTRYCODE, required) - Country of the address.

### ADDRESS_WITH_DESCRIPTION (ADDRESS)

Object represents postal address (with description).

#### Properties

- description (string, optional) - Additional description to address.

### AMOUNT

Amounts are objects that include the value, the precision and the currency. 
If the precision is omitted, the value is considered to be 2. If the currency is omitted, it is to be considered to be `CZK`.

When AMOUNT is used as input value, maximum expected precision is 2. If other restriction is used for given resource it would be stated in it's description.

#### Properties

- value: 242600 (number, required) - Value of an amount.
- precision: 2 (number, optional) - If the precision is omitted, the value is considered to be 2.
    - Default: 2
- currency: CZK (CURRENCY, optional) - Amount currency. If is is omitted, it is to be considered to be CZK.
    - Default: CZK

### APPLICATION_ID (enum)

Application Id

#### Members

- GEORGE
- BRANCH_FE
- POST_OFFICE
- INTERNET_BANKING
- TELEPHONE_BANKER
- VIDEO_BANKER
- COLLECTION_BOX
- GSM
- ATM_OTHER
- ATM_PAYMENT
- UKNOWN

### APPLICATION_ID_LIMIT (enum)

Limit application id enum.

#### Members

- GEORGE
- INTERNET_BANKING
- BUSINESS24
- UNKNOWN

### AUTHORIZATION_LIMIT (object)

Authorization limit object.

#### Properties

- id: 934872973982 (string, required) - Internal ID for limit definition for authorization type, channel, application.
- authorizationType: TAC (AUTHORIZATION_TYPE, required) - Authorization method type for which is limit defined.
- channelId: NET_BANKING (CHANNEL_ID_LIMIT, required) - ID of the channel for which is limit defined.
- applicationId: GEORGE (APPLICATION_ID_LIMIT, required) - ID of the application for which is limit defined.
- dailyLimit (AMOUNT, optional) - Daily limit for particular authorization method.
- transactionLimit (AMOUNT, optional) - Transaction limit for particular authorization method.
- maxBankLimit (AMOUNT, optional) - Maximal limit for authorization method defined by bank.

### AUTHORIZATION_TYPE (enum)

Payment limit authorization type enum.

#### Members

- TAC
- TAN
- SMS
- PKI
- GRID_CARD
- EOK
- VOICE
- DISPLAY_CARD
- M_TOKEN

### BANKCODE (string)

Local bank code used in local bank clearing system, e.g. 5-digit bank code in AT, 4-digit bank code in CZ, SK.

#### Sample

- 0800

### BIC (string)

Business Identifier Code (also know as SWIFT ID/code) standard format (based on **ISO 9362**) has 8 or 11 characters, made up of:

* 4 letters: Institution Code or bank code
* 2 letters: ISO 3166-1 alpha-2 country code
* 2 letters or digits: location code
* 3 letters or digits: branch code, optional (possible default 'XXX' for primary office)

#### Sample

- GIBACZPX

### BUILDING (object)

Building object.

#### Properties

- id: df4fda87fda5f7 (string, required) - Unique product identifier.
- accountno (ACCOUNTNO_FULL, required) - Building saving account number.
- alias: test alias (string, optional) - User defined account name.
- type: BUILD_SAVING (BUILDING_TYPE, required) - Type of the account.
- product: SS (string, required) - Product code.
- productI18N: Stavební spoření (string, required) - Product name.
- balance (AMOUNT, required) - Building saving account balance. For loans outstanding debt is served.
- status: ACTIVE (BUILDING_STATUS, required) - Status of the contract.
- contractHolders: Tomáš Spořitelný (array[string], optional) - Debtor. Will only set for loans.
    - Sample
        - Tomáš Spořitelný
- creditInterestRate: 2.3 (number, optional) - Basic credit interest rate, used for building saving deposits. Value in percentage.
- debitInterestRate: 4.3 (number, optional) - Basic debit interest rate, used for building loan. Value in percentage.
- saving (BUILDING_SAVING, optional) - Object which holds data for building saving.
- loan (BUILDING_LOAN, optional) - Object which holds data for building saving loan. 
- flags (array[string], optional) - Array of flags for building saving contract.
    - Sample
        - notRequestedBonus
    - Items
        - notRequestedBonus

### BUILDING_LOAN (object)

Building loan object.

#### Properties

- loanAmount (AMOUNT, optional) - Loan amount.
- loanInstallment (AMOUNT, required) - Installment part of the loan monthly repayment.
- additionalSavings (AMOUNT, optional) - Saving part of the loan monthly repayment.
- paymentInsurance (AMOUNT, optional) - Insurance part of the loan monthly repayment.
- interestRateFromDate: `2012-02-14` (DATE, optional) - Current interest rate is valid from this date.
- interestRateToDate: `2016-02-14` (DATE, optional) - Current interest rate is valid to this date. If this field is not empty, then interest rate is considered to be variable otherwise it is fixed.

### BUILDING_SAVING (object)

Building saving object.

#### Properties

- targetAmount (AMOUNT, optional) - Target amount. Will not be set for loans.
- agreedMonthlySavings (AMOUNT, optional) - Agreed monthly savings amount for building savings. Will not be set for loans.
- expiryDate: `2017-02-14T00:00:00Z` (DATETIME, optional) - Notice period expiry date. Not set for loans.
- bonusBearingDepositToPay (AMOUNT, optional) - Remaining deposit to be paid to Building Savings till the end of this year to get annual Maximal Bonus.

### BUILDING_SERVICE (object)

Building service object.

#### Properties

- id: s54sdf756dfhm52879sdf23xd8744Fsdf5 (string, required) - Service identifier.
- nameI18N: Uver k stavebnimu sporeni (string, required) - Service name.
- iconGroup: DEFAULT (SERVICE_ICON_GROUP, required) - Icon Group.

### BUILDING_STATUS (enum)

Building status enum.

#### Members

- ACTIVE
- CLOSED

### BUILDING_TYPE (enum)

Building type enum.

#### Members

- BUILD_SAVING - For building savings.
- BUILD_LOAN - For building loans.

### CARD (object)

Card object.

#### Properties

- id: 38338227 (string, required) - Card identifier.
- alias: moje zlata (string, optional) - User defined name of card.
- owner: NOVÁKOVÁ JANA (string, required) - Product/card owner.
- number: 895632XXXXXX5501 (string, required) - Card number.
- sequenceNumber: 09 (string, required) - Card sequence number.
- productI18N: Visa Gold (string, required) - Localized product name.
- productCode: 49 (string, optional) - Internal product code.
- expiryDate: `2014-07-31` (DATE, optional) - Expiration date of particular plastic card is valid.
- validFromDate: `2011-07-01` (DATE, optional) - Date from which this particular plastic card is valid.
- state: ACTIVE (CARD_STATE, required) - Current state of card.
- type: CREDIT (CARD_TYPE, required) - Card type.
- provider: ERSTE_BANK (CARD_PROVIDER, required) - Credit card provider/issuer.
- lockReason: THEFT (CARD_LOCK_REASON, optional) - Indicates reason for locking the card.
- characteristic: MAIN (CARD_CHARACTERISTIC, optional) - Card characteristic.
- balance (AMOUNT, optional) - Card balance.
- limit (AMOUNT, optional) - Card limit.
- outstandingAmount (AMOUNT, optional) - Card outstanding amount.
- minimalMonthlyAmount (AMOUNT, optional) - Card minimal monthly amount.
- installmentDueDate: `2011-07-08` (DATE, optional) - Installment reapyment due date.
- mainAccount (CARD_MAIN_ACCOUNT, optional) - Card main account.
- `cz-overallCardAccountLimits` (CARD_OVERALL_CARD_ACCOUNT_LIMITS, optional) - Card account limits.
- cardDeliveryMode: HOME (CARD_DELIVERY_MODE, optional) - Indicates how a client receives their card and PIN.
- features (array[string], optional) - Card features.
    - Sample
        - contactless
    - Items
        - contactless - Indicates whether contactless technology is available for this card.
        - reissuePin - Indicates whether reissuing a PIN is possible.
        - reissueCard - Indicates whether reissuing a card is possible.
        - limitChange - Indicates that card limits could be changed for this card.
        - temporaryLimitChange - Indicates that card temporary limits could be changed for this card.
        - secureOnlineShopping - Indicates whether secure online shopping is available for this card.
        - cardDelivery - Indicates whether card delivery mode could be changed for this card.
        - onlineLocking - Indicates whether a card can be locked online.
- flags (array[string], optional) - Card flags.
    - Sample
        - automaticReplacementOn
    - Items
        - notAccountOwner - User is only holder of the card not owner of card account.
        - contactlessEnabled - Indicates whether contactless functionality is active for given card.
        - secureOnlineShoppingEnabled - Indicates that 3D secure online shopping functionality is active for this card.
        - automaticReplacementOn - Indicates whether automatic card replacement is active for given card.
        - cardDeliveryChangeEnabled - Indicates whether card delivery mode could be changed for this card.
        - electronicStatementAllowed - User may see the electronic statements list and download statement for credit card (shadow account).

### CARD_3D_SECURE (object)

Card 3D secure.

#### Properties

- status: OK (CARD_3D_SECURE_STATUS, optional) - 3D secure functionality status.
- pam: Personal salutation (string, optional) - Personal Assurance Message (PAM) that user chose when activate 3D secure.
- phoneNumber: `+420 433974932` (string, optional) - Phone (used fot OTP authentification).
- language: cs (LANGUAGE, optional) - 3D secure language

### CARD_3D_SECURE_STATUS (enum)

Card 3D secure status.

#### Members

- OK
- NOT_ACTIVATED

### CARD_ACTION (object)

Card action object.

#### Properties

- action: LOCK_CARD (CARD_ACTION_ENUM, required) - Action on the card.
- lockReason: LOSS (CARD_ACTION_LOCK_REASON, optional) - Reason why card should be locked. Mandatory for action "LOCK_CARD".
- confirmations (array[CARD_ACTION_CONFIRMATION], optional) - Settings for confirmation mail for current action.

### CARD_ACTION_CONFIRMATION (object)

Card action confirmation.

#### Properties

- email: ard.holder@master.cz (string, required) - Email address where confirmation should be sent.
- language: cs (LANGUAGE, required) - Language of the confirmation email. Possible values are "en" and "cs".

### CARD_ACTION_ENUM (enum)

Card action enum.

#### Members

- REISSUE_PIN
- LOCK_CARD
- ACTIVATE_CARD
- SET_AUTOMATIC_REPLACEMENT_ON
- SET_AUTOMATIC_REPLACEMENT_OFF

### CARD_ACTION_LOCK_REASON (enum)

Card action lock reasons.

#### Members

- THEFT
- LOSS

### CARD_CHARACTERISTIC (enum)

Card characteristics.

#### Members

- MAIN
- AUTHORISED

### CARD_DELIVERY (object)

This structure is used to change card delivery method for particular payment card.

#### Properties

- cardDeliveryMode: BRANCH (CARD_DELIVERY_MODE, required) - Card delivery mode for given payment card.
- branchId: HR0_50000328 (string, optional) - Identification of the branch where card will be ready to takeover.
- address (ADDRESS_WITH_DESCRIPTION, optional) - Address for card/pin sending.
- deliveryPassword: hesielko (string, optional) - Password used when card is delivered.
- deliveryPhone: +420608457421 (string, optional) - Phone number of the client used when card is being delivered abroad.

### CARD_DELIVERY_MODE (enum)

Enumeration of possible values for card delivery.

#### Members

- BRANCH - New card will be delivered to issuing branch.
- OTHER_BRANCH - New card will be delivered to selected branch. Branch identifier should be set.
- HOME - New card will be delivered via post to home address.
- ADDRESS_ABROAD - New card will be delivered via post to address which is abroad.

### CARD_LIMIT (object)

Card limit object.

#### Properties

- limitType: ATM (CARD_LIMIT_TYPE, required) - Limit type.
- period: 5D (CARD_LIMIT_PERIOD, required) - Bank limit's period in days defined for limit type.
- limit (AMOUNT, optional) - Current limit amount fot limit's type and period.
- temporaryLimit (AMOUNT, optional) - Temporary limit amount valid for limit's type and period.
- temporaryLimitExpiration: `2014-12-12T00:00:00+02:00` (DATETIME, optional) - Temporary limit amount valid for limit's type and period. Field is mandatory if temporatyLimits are changed by PUT call. It is possible to set temporaryLimitExpiration up to 120 hours to the future.
- bankLimit (AMOUNT, optional) - Maximum limit amount expiration defined by bank valid for limit's type and period.

### CARD_LIMIT_PERIOD (enum)

Card limit period.

#### Members

- 1D - 1 day.
- 2D - 2 days.
- 3D - 3 days.
- 5D - 5 days.
- 7D - 7 days.
- 10D - 10 days.
- 15D - 15 days.
- 30D - 30 days.

### CARD_LIMIT_TYPE (enum)

Card limit types.

#### Members

- ATM
- POS
- INTERNET

### CARD_LOCK_REASON (enum)

Card lock reasons.

#### Members

- THEFT
- LOSS
- FRAUD
- OTHER

### CARD_MAIN_ACCOUNT (object)

Card main account.

#### Properties

- Include ACCOUNTNO_FULL
- holderName: Frany BeeOne (string, required) - Name of account owner.

### CARD_OVERALL_CARD_ACCOUNT_LIMITS (object)

Card overall account limits.

#### Properties

- limitATM (AMOUNT, optional) - ATM limit.
- limitPOS (AMOUNT, optional) - POS limit.

### CARD_PROVIDER (enum)

Card provider.

#### Members

- ERSTE_BANK
- EXTERNAL

### CARD_STATE (enum)

Card states.

#### Members

- ACTIVE - Card is active.
- INACTIVE - Card is issued but not activated yet.
- LOCKED - Card is locked.

### CARD_TYPE (enum)

Card type.

#### Members

- CREDIT - Credit card.
- BANK_CARD - Debit card.

### CHANNEL_ID (enum)

Channel Id

#### Members

- NET_BANKING
- ATM
- MOBILE_BANKING
- BRANCH
- POST_OFFICE
- CALL_CENTRE
- VIDEO_BANKING
- UNKNOWN

### CHANNEL_ID_LIMIT (enum)

Limit channel id enum.

#### Members

- NET_BANKING
- MOBILE_BANKING
- UNKNOWN

### CODETABLE (object)

Codetable items object.

#### Properties

- key: 0710 (string, required) - Codetable item key.
- values (array[string], required) - Array of string values which are set to given key.
    - Items
        - Česká národní banka
        - `Česká národní banka , se sídlem: Na Příkopě 28, Praha 1, PSČ 115 03`

### CONFIRMATION_EMAIL (object)

Object which is used to properly send confirmation email.

#### Properties

- email: john.doe@test.com (EMAIL, required) - Email address where confirmation should be sent.
- language: cs (LANGUAGE, required) - Language of the confirmation email.

### CONFIRMATION_EMAILS (object)

List of confirmation emails.

#### Properties

- confirmations (array[CONFIRMATION_EMAIL], optional) - List of confirmation emails which will be sent.

### COUNTRYCODE (enum)

Country codes are in **ISO 3166-1** format, subtype ALPHA-2. This means two letters in uppercase.

#### Sample

- CZ

### CURRENCY (string)

Currency is in **ISO 4217** format (3 capital letters code).

#### Sample

- CZK

### DATE (string)

Date format without time (yyyy-MM-dd).

#### Sample

- `2011-07-14`

### DATETIME (string)

Dates are returned as **ISO 8601** dates and are used for both dates, times and timestamps. Using timezones is mandatory.

All dates returned by the API are in the corresponding time zone a record/data object is for. For Austrian dates (e.g. transfer timestamps) this means Central European Standard Time (CEST). Austria is UTC+1 in winter and UTC+2 in summer, so times usually read `+0100` or `+0200`. Should, at a later time, the API be applied to other countries, the corresponding time zone for a given data object has to be used.

**Note:** Returning dates as UTC is discouraged because a client would not know what the intended target time zone is that a date has to be displayed in (e.g. an Austrian transaction still has to be shown with the correct Austrian execution time, even if the caller is using the API from e.g. the USA.)

All dates provided by the client (e.g. a date for a future payment order) can be in any timezone. They will be converted to CEST on the server and this CEST version is used for all further processing - including storing or returning this now converted date to the client.

#### Sample

- `2011-07-14T19:43:37+0100`

### DIRECT_DEBIT (object)

Direct Debit.

#### Properties

- number: 2 (string, required) - Order number of the direct debit approval. It is unique per approval. Several versions of an approval have the same order number.
- type: DIRECT_DEBIT (DIRECT_DEBIT_TYPE, required) - Type of the approval. Possible values are DIRECT_DEBIT or SIPO.
- receiver (ACCOUNTNO, required) - Account number of the receiver.
- alias (string, optional) - Approval name chosen by the user.
- limit (AMOUNT, optional) - Limit for the single direct debit.
- limitSum (AMOUNT, optional) - Limit for the whole period.
- limitNumber: 5 (number, required) - Limit for the number of direct debits for the period.
- startDate: `2011-07-14` (DATE, required) - Beginning date for the approval.
- endDate: `2013-07-14` (DATE, optional) - End date for the approval.
- symbols (SYMBOLS, required) - Symbols structure for VS, SS, KS.
- dueMonth: 1 (number, optional) - The order of the month in the period when direct debits are acceptable. This must he null for period at least one month.
- dayFrom: 1 (number, optional) - The number of the day in month. From this day direct debits are acceptable. This can be not null only for period longer then one month.
- dayTo: 10 (number, optional) - The number of the day in month. To this day direct debits are acceptable.
- versionId: 1 (number, required) - Unique identifier for version of the direct debit approval.
- versionValidityDate: `2012-01-08` (DATE, required) - Date when the version comes into use.
- periodicity: 1 (number, required) - Number of period cycles in one period.
- periodCycle: MONTHLY (DIRECT_DEBIT_PERIOD_CYCLE, required) - Unit of the period cycle. Possible values are HALFYEARLY, MONTHLY, QUARTERLY, YEARLY, DAILY, WEEKLY, OTHER.

### DIRECT_DEBIT_PERIOD_CYCLE (enum)

Standing order execution interval.

#### Members

- DAILY
- WEEKLY
- Include FREQUENCY
- OTHER

### DIRECT_DEBIT_TYPE (enum)

Enumeration of possible valuer for direct debit type.

#### Members

- DIRECT_DEBIT - Direct debit.
- SIPO - SIPO.

### EDITABLE_TRANSACTION (object)

Object contains fields of the transaction which are editable by client.

#### Properties

- id: E5CAB598638E8AD0A (string, required) - Transaction identifier.
- note: New client's personal note for transaction (string, optional) - Client's transaction note. If left empty then existing note is deleted.
- flags (array[string], optional) - Editable transaction flags.
    - Sample
        - hasStar
    - Items
        - hasStar - Indication that transaction is marked as important for client.
        - hasNote - Not editable flag. But if note is saved/deleted then this flag would appear/disappear.

### EMAIL (string)

Email address. Validated against pattern: ".+@(.+)$"

#### Sample

- john.doe@test.com

### FREQUENCY (enum)

Enumeration with possible frequencies.

#### Members

- MONTHLY - Monthly frequency.
- QUARTERLY - Quarterly frequency.
- HALFYEARLY - Halfyearly frequency.
- YEARLY - Yearly frequency.

### IBAN (string)

International bank account number. Based on **ISO 13616-1:2007**. A valid IBAN consists of all three of the following components: 

* Country Code (2 capital letters)
* Check digits (2 digits)
* BBAN (local Basic Bank Account Number consisting of 1-30 characters)

#### Sample

- CZ0708000000001019382023

### INSURANCE (object)

Insurance object.

#### Properties

- id: 0000000000519638 (string, required) - Unique product identifier.
- type: LIFE (INSURANCE_TYPE, required) - Product type of insurance.
- product: 12 (string, required) - Code of the product.
- productI18N: Životní pojištění (string, required) - Name of the product.
- description (string, optional) - Additional description of insurance product, additional charges, index appliet to insurance contract.
- alias: Moje životko (string, optional) - `User-specific` alias of the contract.
- insurancePolicyHolder: Kamper Manfred (string, required) - The primary holder of the specific insurance contract.
- policyNumber: 12354821556535445 (string, required) - Agreement number.
- status: ACTIVE (INSURANCE_STATUS, required) - Insurance status.
- life (INSURANCE_LIFE, optional) - Life insurance.

### INSURANCE_LIFE (object)

Insurance life.

#### Properties

- premiumPaymentInterval: MONTHLY (INSURANCE_LIFE_PREMIUM_PAYMENT_INTERVAL, required) - Insurance premium payment interval frequency.
- premium (AMOUNT, required) -  The agreed premium for the specific insurance.
- contractEndDate: `2015-02-28` (DATE, required) - The agreed end date of the insurance contract.
- contractStartDate: `2011-02-28` (DATE, required) - The contract start date.
- insuredAmount (AMOUNT, required) - The agreed amount insured or risk covered by the insurance.
- currentCapitalValue (AMOUNT, required) - Capital value of the insurance. Amount of money in saving part of the insurance.
- expectedPayoffAmount (AMOUNT, optional) - Expected payoff amount value in the end of contract.

### INSURANCE_LIFE_PREMIUM_PAYMENT_INTERVAL (enum)

Insurance life premium payment interval frequency.

#### Members

- ONCE
- Include FREQUENCY
- UNKNOWN

### INSURANCE_STATUS (enum)

Insurance status.

#### Members

- ACTIVE
- CLOSED

### INSURANCE_TYPE (enum)

Insurance type.

#### Members

- LIFE

### LANGUAGE (enum)

List of possible languages used by netbanking api.

#### Members

- cs - Czech
- en - English

### LOAN_ACCOUNT_DATA (object)

Object holding specific data for loans

#### Properties

- interestRateToDate: `2016-07-14` (DATE, optional) - For mortgages this is the date of interest rate validity.
- loanAmount (AMOUNT, optional) - For loans this is contracted value of the loan.
- maturityDate: `2026-11-18` (DATE, optional) - For mortgages this is its maturity date.
- remainingLoanAmount (AMOUNT, optional) - For loans this is remaining amount for utilization. Basically this is disposable balance for loans.
- drawdownToDate: `2017-11-17` (DATE, optional) - Last date when you can use money which are available.
- drawdownAmount (AMOUNT, optional) - For mortgages this is actual drawdown amount.
- outstandingDebt (AMOUNT, optional) - Value of the principal. Value which should be payed back to bank.
- `cz-lumpsumRepayment` (AMOUNT, optional) - Amount of money to onetime repay whole loan.
- installmentFrequency (FREQUENCY, optional) - Frequency of the repayment.
- installmentDay (number, optional) - Day of the month when repayment should be payed (f.e. 22)
- nextRateAmount (AMOUNT, optional) - Repayment amount.
- nextRateDate: `2015-05-25` (DATE, optional) - Next date of the repayment (for loans).

### LOAN_ACCOUNT_LIGHT_DATA (object)

Object holding specific data for loans (Account Light)

#### Properties

- loanAmount (AMOUNT, optional) - For loans this is contracted value of the loan.
- outstandingDebt (AMOUNT, optional) - Value of the principal. Value which should be payed back to bank.
- installmentFrequency (FREQUENCY, optional) - Frequency of the repayment.
- nextRateAmount (AMOUNT, optional) - Repayment amount.

### MESSAGE (object)

Message object.

#### Properties

- id: 131371121204 (string, required) - Message identifier.
- from: Internet banking (string, required) - Name of the message sender.
- subject: Planned service upgrade (string, required) - Message subject.
- date: `2013-05-17T00:00:00+02:00` (DATETIME, required) - Date when message was created/generated.
- body: There is service outage planed today. (string, required) - Body of the message.
- flags (array[string], optional) - Array of flags.
    - Sample
        - unread
        - warning
    - Items
        - mandatory - Flag for mandatory message.
        - unread - This message is unread.
        - unsigned - This message is unsigned yet.
        - warning - Type of the message is warning.
        - info - Type of the message is information.

### OWN_TRANSFER_RECEIVER (object)

Represents identification of the account which could be used as own transfer receiver.

#### Properties

- id: E7AA56C85D1B687A (string, required) - Account identifier.
- accountno (ACCOUNTNO_FULL, required) - Account number.

### PAGINATION (object)

Object which contains data with pagination information.

#### Properties

- pageNumber: 0 (number, optional) - Returned page number.
- pageCount: 1 (number, optional) - Number of pages calculated from page size and number of records.
- pageSize: 10 (number, optional) - The page size used. Either the number supplied by the client is returned here, or in case there was a limit and the valie is now smaller than the requested one, the actual size is given.
- nextPage: 1 (number, optional) - Page number of following page (provided only when exist)

### PAYMENT_BOOKING_DATE_REQUEST (object)

Payment booking date.

#### Properties

- receiver (ACCOUNTNO_FULL, required) - Receiver's account number.
- priority: STANDARD (PAYMENT_BOOKING_DATE_PRIORITY, optional) - Payment booking date priority.

### PAYMENT_BOOKING_DATE_PRIORITY (enum)

Payment booking date priority.

#### Members

- STANDARD
- URGENT

### PAYMENT_LIMIT (object)

Payment limit object.

#### Properties

- authorizationType: TAC (AUTHORIZATION_TYPE, required) - Authorization method type for which is limit defined.
- channelId: NET_BANKING (CHANNEL_ID_LIMIT, required) - ID of the channel for which is limit defined.
- applicationId: GEORGE (APPLICATION_ID_LIMIT, required) - ID of the application for which is limit defined.
- remainingAmount (AMOUNT, required) - Remaining Daily amount which can be transfered using particular authorization method and channel.

### PAYMENT_ORDER_CATEGORY (enum)

Payment order category

#### Members

- DOMESTIC
- OWN_TRANSFER
- INTERNATIONAL
- SEPA

### PAYMENT_ORDER_ENTRY (object)

Payment order entry object

#### Properties

- orderCategory: DOMESTIC (PAYMENT_ORDER_CATEGORY, required) - Payment order category determines whether payment is domestic, SEPA, international or inside the bank (domestic, but could be different processing) or between accounts of the same user (domestic, but with better fee policy).
- orderType: PAYMENT_OUT (PAYMENT_ORDER_TYPE, required) - Payment order type (outgoing payment, outgoing direct debit, incoming direct debit) determines further transaction processing in BE.
- senderName: George Sporitelni (string, required) - Name of sender, who created payment order.
- sender (ACCOUNTNO_FULL, required) - Account number of the sender (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code).
- receiverName: Jaroslav Drapalik (string, required) - Name of receiver of payment order.
- receiver (ACCOUNTNO_IBAN, optional) - In case of international payments receiver is represented by IBAN wiht optional BIC.
- receiver (ACCOUNTNO_FULL, required) - Account number of the receiver (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code or free text account with bank code/BIC with country code).
- amount (AMOUNT, required) - Payment amount in defined currency.
- symbols (SYMBOLS, optional) - Symbols structure for VS, SS, KS.
- additionalInfo (ADDITIONAL_INFO, optional) - Payment Additional info structure with optional elements. This attribute corresponds to SEPA/SWIFT field remittanceInformation.
- senderReference: poznamka pro me (string, optional) - Message for me set during payment order creation.
- transferDate: `2014-03-12` (string, optional) - Requested due date entered by user (could be in near future), date when payment order should be transferred from user account.
- channelId: NET_BANKING (CHANNEL_ID, optional) - ID of the channel via which this payment order was entered/modified the last time.
- applicationId: GEORGE (APPLICATION_ID, optional) - ID of the application via which this payment order was entered/modified the last time. (This application ID could be used for filtering in payment list in future).
- cz-skipCnbPrefixValidation: true (boolean, optional) - Indicates if there is validation of mandatory prefix for payments to central bank.
- flags (array[string], optional) - Array of flags for payment.
    - Sample
        - urgent
    - Items
        - urgent - Flag indicating urgent payment order (in SEPA, SWIFT and maybe also in local bank clearing systems) requested by client.

### PAYMENT_ORDER_ENTRY_FULL (object)

Complete payment order entry object, returned in response of POST and PUT call

#### Properties

- id: 84521478awd85441 (string, required) - Internal identifier of payment order. Note that after signing of the order the id could change.
- referenceId: 785485694578 (string, optional) - Transaction reference ID provided by BE when payment order was executed.
- hash: d1bc8d3ba4afc7e109612cb (string, optional) - Hash value calculated using common relevant payment order attributes to ensure the same unchanged logical object (payment order) every time during authorization signing process.
- orderCategory: DOMESTIC (PAYMENT_ORDER_CATEGORY, required) - Payment order category determines whether payment is domestic, SEPA, international or inside the bank (domestic, but could be different processing) or between accounts of the same user (domestic, but with better fee policy).
- orderType: PAYMENT_OUT (PAYMENT_ORDER_TYPE, required) - Payment order type (outgoing payment, outgoing direct debit, incoming direct debit) determines further transaction processing in BE.
- senderName: George Sporitelni (string, required) - Name of sender, who created payment order.
- sender (ACCOUNTNO_FULL, required) - Account number of the sender (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code).
- receiverName: Jaroslav Drapalik (string, required) - Name of receiver of payment order.
- receiver (ACCOUNTNO_IBAN, optional) - In case of international payments receiver is represented by IBAN wiht optional BIC.
- receiver (ACCOUNTNO_FULL, required) - Account number of the receiver (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code or free text account with bank code/BIC with country code).
- amount (AMOUNT, required) - Payment amount in defined currency.
- symbols (SYMBOLS, optional) - Symbols structure for VS, SS, KS.
- additionalInfo (ADDITIONAL_INFO, optional) - Payment Additional info structure with optional elements. This attribute corresponds to SEPA/SWIFT field remittanceInformation.
- senderReference: poznamka pro me (string, optional) - Message for me set during payment order creation.
- transferDate: `2014-03-12` (string, optional) - Requested due date entered by user (could be in near future), date when payment order should be transferred from user account.
- executionDate: `2014-02-12T00:00:00+02:00` (string, required) - Datetime when payment order was created/updated (the last time) by user (read-only field is automatically setup/changed by BE system based on POST/PUT request).
- expirationDate: `2014-02-15T00:00:00+02:00` (string, optional) - Datetime till when payment order will be repeated on BE in the case of insufficient funds on account.
- modificationDate: `2014-02-12T00:00:00+02:00` (string, optional) - Modification date indicates the last update of payment order done by user or BE system (read-only field provided by BE).
- cz-description: mobilni platba (string, optional) - Description of payment order, transaction type.
- state: OPEN (PAYMENT_ORDER_STATE, required) - State of payment order presented to user on FE, value is mapped based on provided BE technical states.
- stateDetail: OPN (PAYMENT_ORDER_STATE_DETAIL, required) - State detail of payment order provided based on BE technical states. Mapping between technical BE states and predefined FE detail states should be specified by local API. Value is used in FE to display status description.
- stateOk: true (boolean, required) - Indicator whether state (stateDetail value) of payment order is OK from user point of view.
- channelId: NET_BANKING (CHANNEL_ID, optional) - ID of the channel via which this payment order was entered/modified the last time.
- applicationId: GEORGE (APPLICATION_ID, optional) - ID of the application via which this payment order was entered/modified the last time. (This application ID could be used for filtering in payment list in future).
- cz-skipCnbPrefixValidation: true (boolean, optional) - Indicates if there is validation of mandatory prefix for payments to central bank.
- flags (array[string], optional) - Array of flags for payment.
    - Sample
        - urgent
    - Items
        - urgent - Flag indicating urgent payment order (in SEPA, SWIFT and maybe also in local bank clearing systems) requested by client.

### PAYMENT_ORDER_FULL (object)

Complete payment order object

#### Properties

- id: 84521478awd85441 (string, required) - Internal identifier of payment order. Note that after signing of the order the id could change.
- referenceId: 785485694578 (string, optional) - Transaction reference ID provided by BE when payment order was executed.
- hash: d1bc8d3ba4afc7e109612cb (string, optional) - Hash value calculated using common relevant payment order attributes to ensure the same unchanged logical object (payment order) every time during authorization signing process.
- orderCategory: DOMESTIC (PAYMENT_ORDER_CATEGORY, required) - Payment order category determines whether payment is domestic, SEPA, international or inside the bank (domestic, but could be different processing) or between accounts of the same user (domestic, but with better fee policy).
- orderType: PAYMENT_OUT (PAYMENT_ORDER_TYPE, required) - Payment order type (outgoing payment, outgoing direct debit, incoming direct debit) determines further transaction processing in BE.
- senderName: George Sporitelni (string, optional) - Name of sender, who created payment order.
- sender (ACCOUNTNO_FULL, required) - Account number of the sender (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code).
- receiverName: Jaroslav Drapalik (string, optional) - Name of receiver of payment order.
- receiver (ACCOUNTNO_IBAN, optional) - In case of international payments receiver is represented by IBAN wiht optional BIC.
- receiver (ACCOUNTNO_FULL, required) - Account number of the receiver (embedded ACCOUNTNO type: IBAN with optional BIC or local account number with mandatory local bank code or free text account with bank code/BIC with country code).
- amount (AMOUNT, required) - Payment amount in defined currency.
- symbols (SYMBOLS, optional) - Symbols structure for VS, SS, KS.
- additionalInfo (ADDITIONAL_INFO, optional) - Payment Additional info structure with optional elements. This attribute corresponds to SEPA/SWIFT field remittanceInformation.
- senderReference: poznamka pro me (string, optional) - Message for me set during payment order creation.
- transferDate: `2014-03-12` (string, optional) - Requested due date entered by user (could be in near future), date when payment order should be transferred from user account.
- executionDate: `2014-02-12T00:00:00+02:00` (string, required) - Datetime when payment order was created/updated (the last time) by user (read-only field is automatically setup/changed by BE system based on POST/PUT request).
- expirationDate: `2014-02-15T00:00:00+02:00` (string, optional) - Datetime till when payment order will be repeated on BE in the case of insufficient funds on account.
- modificationDate: `2014-02-12T00:00:00+02:00` (string, optional) - Modification date indicates the last update of payment order done by user or BE system (read-only field provided by BE).
- cz-description: mobilni platba (string, optional) - Description of payment order, transaction type.
- state: OPEN (PAYMENT_ORDER_STATE, required) - State of payment order presented to user on FE, value is mapped based on provided BE technical states.
- stateDetail: OPN (PAYMENT_ORDER_STATE_DETAIL, required) - State detail of payment order provided based on BE technical states. Mapping between technical BE states and predefined FE detail states should be specified by local API. Value is used in FE to display status description.
- stateOk: true (boolean, required) - Indicator whether state (stateDetail value) of payment order is OK from user point of view.
- channelId: NET_BANKING (CHANNEL_ID, optional) - ID of the channel via which this payment order was entered/modified the last time.
- applicationId: GEORGE (APPLICATION_ID, optional) - ID of the application via which this payment order was entered/modified the last time. (This application ID could be used for filtering in payment list in future).
- cz-skipCnbPrefixValidation: true (boolean, optional) - Indicates if there is validation of mandatory prefix for payments to central bank.
- receiverAddress: Jeremenkova 32 (array[string], optional) - Receiver's address. Array of 3x text fields with max 35 characters each. First text - Street, Second text - ZIP code and City, Third text - Country code, name. (Used only for International payments).
- flags (array[string], optional) - Array of flags for payment.
    - Sample
        - deletable
    - Items
        - urgent - Flag indicating urgent payment order (in SEPA, SWIFT and maybe also in local bank clearing systems) requested by client.
        - editable - Flag indicating if payment order can be edited by client.
        - deletable - Flag indicating if payment order can be deleted by client.
        - cancelable - Flag indicating if future dated (already signed) payment order can be canceled by client.
        - signable - Flag indicating if payment order can be signed by client.
        - redoNotPossible - Flag indicating if payment order can be re-done.

### PAYMENT_ORDER_STATE (enum)

Payment order state

#### Members

- OPEN - Order state in an OpenState (OPN).
- SPOOLED - Order state in a SpoolState (NGD, TRM, PNR, INB).
- CANCELLED - Order state in a CancelState (STO).
- CLOSED - Order state in a ClosedState (FIH, FIN, ABG).
- DELETED - Order state in a DeleteState (order with deleted flag from BE).

### PAYMENT_ORDER_STATE_DETAIL (enum)

Payment order state detail

#### Members

- OPN - Open - not signed yet (stateOk=true).
- STO - Cancelled - storno (stateOk=false).
- NGD - Insufficient funds - no disposable balance (stateOk=false).
- TRM - Marked as scheduled payment (stateOk=true).
- FUS - Unknown - finalized unknown (stateOk=false).
- PNR - Payment Order from night register (stateOk=true).
- FIN - Forwarded - finalized neutral (stateOk=true).
- FIH - Forwarded - finalized today (current bankday).
- ABG - Rejected - rejected, ask advisor (stateOk=true).
- INB - Being processed - in process (stateOk=true).

### PAYMENT_ORDER_TYPE (enum)

Payment order type

#### Members

- PAYMENT_OUT
- DIRECT_DEBIT_IN

### PENSION (object)

Pension object.

#### Properties

- alias: moje penzijko (string, optional) - User defined account name.
- signingDate: `2013-06-12` (DATE, optional) - Signing date.
- validFrom: `2013-08-01` (DATE, optional) - Valid from date.
- validTo: `2019-08-01` (DATE, optional) - Valid to date.
- id: 1nw59tj98542vgt51 (string, required) - Pension identifier.
- agreementNumber: 123456789852 (string, required) - Agreement number.
- status: ACTIVE (PENSION_STATUS, required) - Status of the contract.
- productAccount (PENSION_PRODUCT_ACCOUNT, required) - Pension product account.
- productI18N: Penzijni sporeni (string, required) - Product description.
- product: 456 (string, required) - Product code.
- birthNumber: 9005087056 (string, required) - Birth number.
- paidBenefits (AMOUNT, required) - Paid benefits amount.
- strategy (PENSION_STRATEGY, optional) - Pension strategy.
- pensionAgreed (PENSION_AGREED, optional) - Pension agreed.
- savingTime (PENSION_SAVING_TIME, optional) - Pension saving time.
- contribution (PENSION_CONTRIBUTION, optional) - Pension contribution.
- supplementary (PENSION_SUPPLEMENTARY, optional) - Pension supplementary.
- persons (array[PENSION_PERSON], optional) - Array of persons.

### PENSION_AGREED (object)

Pension agreed.

#### Properties

- oldAge: true (boolean, optional) - Old-age pension.
- disability: false (boolean, optional) - Disability pension.
- earlyRetirement: 13 (number, optional) - Early-retirement pension.

### PENSION_CONTRIBUTION (object)

Pension contribution.

#### Properties

- employer: true (boolean, required) - Employer contribution.
- participantAmount (AMOUNT, required) - Participant amount.
- otherPersonAmount (AMOUNT, required) - Other person amount.

### PENSION_PERSON (object)

Person object in Pension.

#### Properties

- firstName: Franc (string, required) - Designed person first name.
- lastName: BeeOne (string, required) - Designed person last name.
- birthDate: `1950-06-30` (DATE, required) - Birth date.
- birthNumber: 500630192 (string, optional) - Birth number.
- address (ADDRESS, optional) - Address.
- proportion: 100 (number, required) - Proportion.
- contact: franc@yahoo.com (string, optional) - Contact.
- contactDetail: 2nd door from the left (string, optional) - Contact detail.
- entitlement: survival pension and termination settlement (string, required) - Entitlement.

### PENSION_PRODUCT_ACCOUNT (object)

Pension product account.

#### Properties

- amount (AMOUNT, required) - Account balance.
- date: `2015-01-18` (DATE, required) - Date balance.

### PENSION_SAVING_TIME (object)

Pension saving time.

#### Properties

- supplementary: 51 (number, optional) - Supplementary pension saving time.
- oldAge: 51 (number, optional) - Old-age pension saving time.
- earlyRetirement: 51 (number, optional) - Early retirement saving time.

### PENSION_STATUS (enum)

Profile contact type enum.

#### Members

- ACTIVE
- TERMINATED
- PENSION_PAYMENT
- INTERRUPTED
- PAYMENTS_SUSPENDED
- PAYMENTS_DEFFERED
- SETTLED
- REPEALED
- NEGOTIATED

### PENSION_STRATEGY (object)

Pension strategy.

#### Properties

- conservative: 10 (number, optional) - Conservative strategy.
- balanced: 80 (number, optional) - Balanced strategy.
- dynamic: 10 (number, optional) - Dynamic strategy.
- stateBonds: 0 (number, optional) - State bonds strategy.

### PENSION_SUPPLEMENTARY (object)

Pension supplementary.

#### Properties

- email: franz@beeone.cz (string, optional) - Email communication.
- sms: 778525968 (string, optional) - SMS communication.
- maxService: true (boolean, optional) - Maximum service.
- optService: true (boolean, optional) - Optimum service.

### PROFILE (object)

Profile object.

#### Properties

- firstname: Jan (string, required) - User's first name.
- lastname: Novak (string, required) - user's last name.
- customerId: ABC123 (string, optional) - Internal ID of the customer (CLUID).
- salutation: Jane (string, optional) - Customer name used for salutation.
- instituteId: 1 (number, required) - Number of institute.
- marketingInfoAcceptance: ACCEPTED (PROFILE_MARKETING_INFO_ACCEPTANCE, required) - Has the customer accepted marketing info receiving?
- gender: MALE (PROFILE_GENDER, required) - User's gender.
- lastlogin: `2013-11-28T16:18:10Z` (DATETIME, optional) - Date and time of the last login of customer.

### PROFILE_CONTACT (object)

Profile contact object.

#### Properties

- id: postaladdresspermanent (string, required) - Unique ID of contact information.
- type: ADDRESS (PROFILE_CONTACT_TYPE, required) - Type of contact.
- flags (array[string], optional) - Array of contact flags.
    - Default
        - mainContact
    - Items
        - mainContact
- One Of
    - address (PROFILE_CONTACT_ADDRESS) - Address object if contact type is ADDRESS.
    - phone (PROFILE_CONTACT_PHONE) - Phone object if contact type is PHONE. 
    - email (PROFILE_CONTACT_EMAIL) - Email object if contact type is EMAIL.

### PROFILE_CONTACT_ADDRESS (object)

Profile contact address object.

#### Properties

- type: PERMANENT_RESIDENCE (PROFILE_CONTACT_ADDRESS_TYPE, required) - Address type.
- typeI18N: Trvalé bydliště (string, optional) - Localized name of address type.
- description (string, optional) - More detailed description of address, company name or department
- street: V Celnici (string, required) - Address street.
- streetNumber: 1985 (string, optional) - Address house number.
- buildingApartment: 85 (string, optional) - Address land registry number.
- zipCode: 15000 (string, required) - Address ZIP code.
- city: Praha (string, required) - Address city.
- country: CZ (COUNTRYCODE, required) - Country code.

### PROFILE_CONTACT_ADDRESS_TYPE (enum)

Profile contact address type enum.

#### Default

- PERMANENT_RESIDENCE

#### Members

- PERMANENT_RESIDENCE - For permanent residence address type.

### PROFILE_CONTACT_EMAIL (object)

Profile contact email object.

#### Properties

- email: franz@george.cz (EMAIL, required) - Contact email address.
- type: PRIVATE (PROFILE_CONTACT_EMAIL_TYPE, required) - Email type.
- typeI18N: Osobní (string, optional) - Localized name of email type.

### PROFILE_CONTACT_EMAIL_TYPE (enum)

Profile contact email type enum.

#### Default

- PRIVATE

#### Members

- PRIVATE - For private type of email.

### PROFILE_CONTACT_PHONE (object)

Profile contact phone object.

#### Properties

- type: PRIVATE (PROFILE_CONTACT_PHONE_TYPE, required) - Phone type.
- typeI18N: Osobní (string, optional) - Localized name of phone type.
- countryCallingCode: 0420 (string, optional) - Country calling code as international phone number prefix. `E.g.: "0043" or "+43", "00420" or "+420", "00421" or "+421"`
- phoneNumber: 776123789 (string, required) - Contact phone number.

### PROFILE_CONTACT_PHONE_TYPE (enum)

Profile contact phone type enum.

#### Default

- PRIVATE

#### Members

- PRIVATE - For private type of phone.

### PROFILE_CONTACT_TYPE (enum)

Profile contact type enum.

#### Members

- ADDRESS - For address contact type.
- PHONE - For phone contact type.
- EMAIL - For email contact type.

### PROFILE_GENDER (enum)

Profile gender.

#### Members

- MALE
- FEMALE
- UNKNOWN

### PROFILE_LOGIN_INFO (object)

Profile login info.

#### Properties

- lastlogin (array)
    - channel: GEORGE (string, required) - Channel/Application identification for particular login.
    - lastlogin: `2014-01-23T11:38:52Z` (DATETIME, required) - Date of the last login.

### PROFILE_MARKETING_INFO_ACCEPTANCE (enum)

Profile marketing info acceptance.

#### Members

- ACCEPTED
- NOT_ACCEPTED
- UNKNOWN

### RESERVATION (object)

Object represents account reservation.

#### Properties

- type (string, optional) - Type of reservation.
- transactionDate: `2015-09-18T21:43:53Z` (DATETIME, required) - Transaction date and time.
- expirationDate: `2015-09-25T21:43:53Z` (DATETIME, optional) - Reservation expiration date.
- merchantName: Pizzeria Grosseto (string, optional) - Merchant Name / ATM.
- merchantAddress: Antala Staška 32, Praha (string, optional) - Merchant address.
- description: Platba kartou (string, required) - Reservation description, additional info.
- amount (AMOUNT, optional) - Amount in account currency.
- amountSender (AMOUNT, required) - Amount in transaction currency.

### SAVING_ACCOUNT_DATA (object)

Object which contains specific data for savings.

#### Properties

- interestRateOverLimit: 1.2 (number, optional) - In case of interest rate bands this is the interest rate which applies to value over limit.
- interestRateLimit (AMOUNT, optional) - Limit amount for basic credit interest rate used for some saving accounts.
- `cz-bonusInterestRate`: 0.6 (number, optional) - Bonus interest rates which can be gained if certain conditions are met.
- savingGoal: HOUSING (SAVING_GOAL, optional) - Saving purpose code (for some savings accounts).
- targetAmount (AMOUNT, optional) - For some savings accounts this is target amount of the saving.
- minimumBalance (AMOUNT, optional) - Minimum balance for some current and savings accounts.

### SAVING_GOAL (enum)

Enumeration of the possible saving goals for some saving accounts.

#### Members

- ELECTRONICS - Electronics
- WHITE_GOODS - White goods
- HOLIDAYS - Holidays
- SPORT - Sport equipment
- FURNITURE - Furniture
- CARS - Cars and accessories
- HOBBIES - Hobbies and garden
- GIFTS - Gifts and parties
- HEALTH - Health
- STUDIES - Studies
- HOUSING - Housing
- PERSONAL - Personal

### SECURITY (object)

Security object.

#### Properties

- id: 2f03203727596531303d17 (string, required) - Unique product identifier.
- accountno: 20031692500 (string, required) - "Account number" of security portfolio. The MUIN identifier.
- alias: Maximilian Mustermann TEST (string, optional) - User defined alias for security portfolio.
- description: Majetkový účet (string, required) - Additional information like account name, name of principal account holder.
- balance (AMOUNT, required) - Account balance value.
- subSecAccounts (array[SECURITY_SUB_SEC_ACCOUNT], optional) - Array of securities sub accounts.

### SECURITY_SUB_SEC_ACCOUNT (object)

Security sub account object.

#### Properties

- id: 20031692500 (string, required) - Sub securities internal identifier.
- titles (array[SECURITY_SUB_SEC_ACCOUNT_TITLE], optional) - Array of sub securities titles.

### SECURITY_SUB_SEC_ACCOUNT_TITLE (object)

Security sub account title object.

#### Properties

- title: RORENTO (string, required) - Title name of securitues investment.
- isin: ANN757371433 (string, required) - International Securities Identification Number (ISIN).
- numberOfShares: 498 (number, required) - Number of securities/shares.
- lastPrice (AMOUNT, required) - Last price of securities title.
- lastPriceDate: `2013-11-28T16:18:10Z` (DATETIME, required) - Date of securities last price evaluation.
- marketValue (AMOUNT, required) - Market value of securities title.
- securityType: UNKNOWN (enum, required) - Security product type.
    - Default
        - UNKNOWN
    - Members
        - UNKNOWN
- productGroup: UNKNOWN (enum, required) - Security product group.
    - Default
        - UNKNOWN
    - Members
        - UNKNOWN
- securityIndication: Reference quote (enum, required) - 
    - Default
        - Reference quote
    - Members
        - Reference quote

### SERVICE_ICON_GROUP (enum)

Service Icon Group.

#### Default

- DEFAULT

#### Members

- DEFAULT

### SIGN_AUTHORIZATION_TYPE (enum)

Authorization methods.

#### Default

- TAC

#### Members

- NONE - validation of user response as confirmation (e.g. confirm button click)
- TAC - validation of user response as randomly generated number/code sent to user personal device via SMS
- CASE\_MOBILE - validation of user response using mobile application

### SIGN_CHALLENGE_PARAMETERS (object)

Object for array of challenge parameters.

#### Properties

- challengeParameters (array, optional) - List of additional challenge parameters.
    - (object)
        - nameI18N: Suma (string, required) - Localized name of parameter.
        - value: 12459 (string, required) - Value of parameter.

### SIGN_IMMUTABLE_GET_RESPONSE (object)

Object for response of immutable GET signing method.

#### Properties

- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- Include SIGN_SCENARIOS
- Include SIGNINFO

### SIGN_IMMUTABLE_POST_REQUEST (object)

Object for request of immutable POST signing method.

#### Properties

- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.

### SIGN_IMMUTABLE_POST_RESPONSE (object)

Object for response of immutable POST signing method.

#### Properties

- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- qrImage: `iVBORw0KGgoA...` (string, optional) - QR code in BASE64, only provided for Mobile authorization.
- challengeCode: L2DD789D (string, optional) - Challenge Code used instead of QR code in Mobile app.
- Include SIGN_CHALLENGE_PARAMETERS
- poll (SIGN_POLL_INFORMATION, optional) - Polling information for the requested order and selected Mobile authorization.
- Include SIGNINFO

### SIGN_IMMUTABLE_PUT_REQUEST (object)

Object for request of immutable PUT signing method.

#### Properties

- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- tac: 12345 (string, optional) - In TAC mode, this field contains OTP from SMS.
- challengeOTP: 54321 (string, optional) - In MOBILE_CASE mode, this field contains OTP from CASEMobile, in other cases its OTP for any challenge request code.

### SIGN_IMMUTABLE_PUT_RESPONSE (object)

Object for response of immutable PUT signing method.

#### Properties

- Include SIGNINFO_DONE_STATE

### SIGN_MANAGEABLE_GET_RESPONSE (object)

Object for response of manageable GET signing method.

#### Properties

- hash: d1bc8d3ba4afc7e109612cb (string, required) - Must not be calculated using internal fields and be the same hash for the same unchanged logical object every time.
- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- Include SIGN_SCENARIOS
- state: OPEN (SIGN_STATE, required) - State of signing process, possible values: OPEN - Order should be signed. DONE - Order is already signed. NONE - Order should been executed without signing.

### SIGN_MANAGEABLE_POST_REQUEST (object)

Object for request of manageable POST signing method.

#### Properties

- hash: d1bc8d3ba4afc7e109612cb (string, optional) - Optional hash from previous GET response for the same unchanged logical object every time.
- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.

### SIGN_MANAGEABLE_POST_RESPONSE (object)

Object for response of manageable POST signing method.

#### Properties

- hash: d1bc8d3ba4afc7e109612cb (string, required) - Must not be calculated using internal fields and be the same hash for the same unchanged logical object every time.
- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- qrImage: `iVBORw0KGgoA...` (string, optional) - QR code in BASE64, only provided for Mobile authorization.
- challengeCode: L2DD789D (string, optional) - Challenge Code used instead of QR code in Mobile app.
- Include SIGN_CHALLENGE_PARAMETERS
- poll (SIGN_POLL_INFORMATION, optional) - Polling information for the requested order and selected Mobile authorization.
- state: OPEN (SIGN_STATE, required) - State of signing process, possible values: OPEN - Order should be signed. DONE - Order is already signed. NONE - Order should been executed without signing.

### SIGN_MANAGEABLE_PUT_REQUEST (object)

Object for request of manageable PUT signing method.

#### Properties

- hash: d1bc8d3ba4afc7e109612cb (string, required) - The hash value obtained by a previous POST `*/sign` call response. This will be used to verify if the signing is done for the yet unmodified resource.
- authorizationType: TAC (SIGN_AUTHORIZATION_TYPE, required) - Identifier of preferred authorization method type (possible values TAC), method have to be listed in scenarios as the first one in case of sign chain.
- tac: 12345 (string, required) - In TAC mode, this field contains OTP from SMS.
- challengeOTP: 54321 (string, optional) - In MOBILE_CASE mode, this field contains OTP from CASEMobile, in other cases its OTP for any challenge request code.

### SIGN_MANAGEABLE_PUT_RESPONSE (object)

Object for response of manageable PUT signing method.

#### Properties

- state: DONE (SIGN_STATE, required) - State of signing process, possible values: OPEN - Order should be signed. DONE - Order is already signed. NONE - Order should been executed without signing.
- `cz-skipSenderReceiverNameBypassing`: false (boolean, required) - This is George specific flag. It is indication for George whether sender and receiver name should be send to George backend or not.

### SIGN_POLLING_RESPONSE (object)

Object for polling resource response.

#### Properties

- state: DONE (SIGN_STATE_POLLING, required) - State of the CASEMobile signing process (values: PROCESSING, DONE, FALLBACK - alternative authorization on FE should be activated).
- pollInterval: 5000 (number, required) - Polling interval in [ms].

### SIGN_POLL_INFORMATION (object)

Object for poll information using in signing.

#### Properties

- url: `http://www.csast.csas.cz/webapi/api/v2/sign/poll/46879` (string, required) - Polling URL to retrieve state of the sign process (typically if is sign done by Mobile app on smartphone).
- id: 46879 (number, required) - Polling ID generated for Mobile authorization using PUSH notification to user device.
- interval: 5000 (number, required) - Polling interval in [ms].

### SIGN_SCENARIOS (object)

Authorization scenarios.

#### Properties

- scenarios (array, optional) - Array of possible more signing scenarios (list of scenarios and their methods in predefined order). If there is only one scenario with one step then scenarios array isn't returned and only authorizationType property is used.
    - (array)
        - TAC (string)

### SIGNINFO (object)

Object which contains information needed to sign changes which where made by current action.

#### Properties

- signInfo (object,required) - Object which contains information needed to sign changes which were made by current action.
    - state: OPEN (SIGN_STATE, required) - Flag which controls whether signing is needed for current change.
    - signId: fde367favcz89fra (string, optional) - Identifier of the change which should be signed. Available only if state is "OPEN".

### SIGNINFO_DONE_STATE (object)

Object which contains information needed to sign changes which where made by current action.

#### Properties

- signInfo (object,required) - Object which contains information needed to sign changes which were made by current action.
    - state: DONE (SIGN_STATE, required) - Flag which controls whether signing is needed for current change.
    - signId: fde367favcz89fra (string, optional) - Identifier of the change which should be signed. Available only if state is "OPEN".

### SIGN_STATE (enum)

Enum of sign states.

#### Members

- OPEN - Change should be signed.
- NONE - Change has been executed without signing.

### SIGN_STATE_POLLING (enum)

Enum of sign states polling.

### Sample

- DONE

#### Members

- PROCESSING
- DONE
- FALLBACK

### STANDING_ORDER_ENTRY (object)

Standing order entry. Only subset of STANDING_ORDER_FULL object

#### Properties

- type: STANDING_ORDER (STANDING_ORDER_TYPE, required) - Type of order. Possible values: STANDING_ORDER.
- alias (string, optional) - Alias name of standing order entered by user for his better orientation in standing order list.
- receiverName: Greenpeace (string, optional) - Name of the beneficiary.
- receiver (ACCOUNTNO_FULL, required) - Account number of the receiver.
- senderReference: pro prijemce (string, optional) - An external reference identification of the payer.
- amount (AMOUNT, required) - Standing order amount.
- nextExecutionDate: `2015-04-09` (string, required) - Date when the next order will be processed.
- lastExecutionDate: `2016-04-09` (string, optional) - Date when the last order will be processed. Only applicable in combination with executionMode UNTIL_DATE
- executionMode: UNTIL_DATE (STANDING_ORDER_EXECUTION_MODE, required) - Execution mode. Possible values: UNTIL_DATE, UNTIL_CANCELLATION, AFTER_MAX_ITERATION_EXCEEDED or AFTER_MAX_AMOUNT_EXCEEDED.
- executionDueMode: DUE_LAST_DAY_OF_MONTH (STANDING_ORDER_EXECUTION_DUE_MODE, required) - Execution due mode. Possible values: DUE_DAY_OF_MONTH or DUE_LAST_DAY_OF_MONTH.
- executionInterval: MONTHLY (STANDING_ORDER_EXECUTION_INTERVAL, required) - Execution interval. Possible values: DAILY, WEEKLY, MONTHLY, BI_MONTHLY QUARTERLY, HALFYEARLY, YEARLY, IRREGULAR. **NOTE** that only DAILY, MONTHLY, QUARTERLY, HALFYEARLY and YEARLY intervals are supported when entering new standing order. Other intervals are only for display of existing standing orders.
- intervalDueDay: 5 (number, optional) - Due day of month, day of month when the standing order will be reqularly executed.
- intervalDueMonth: 2 (number, optional) - Due date month in execution interval of standing order processing. Possible values: N/A for DAILY, WEEKLY, MONTHLY, 1-3 for QUARTERLY, 1-6 for HALFYEARLY, 1-12 for YEARLY.
- symbols (SYMBOLS, optional) - Symbols structure for VS, SS, KS.
- flags (array[string], optional) - Array of flags for messages.
    - Sample
        - editable
    - Items
        - editable - Flag indicating if standing order can be edited by client.
        - deletable - Flag indicating if standing order can be deleted by client.

### STANDING_ORDER_EXECUTION_DUE_MODE (enum)

Standing order execution due mode.

#### Members

- DUE_DAY_OF_MONTH - Due day of a month
- DUE_LAST_DAY_OF_MONTH - Due last day of a month

### STANDING_ORDER_EXECUTION_INTERVAL (enum)

Standing order execution interval.

#### Members

- DAILY
- WEEKLY
- BI_MONTHLY
- Include FREQUENCY
- IRREGULAR

### STANDING_ORDER_EXECUTION_MODE (enum)

Standing order execution mode.

#### Members

- UNTIL_DATE - Last execution date is already preset.
- UNTIL_CANCELLATION - Until cancellation. Last execution date not set.
- AFTER_MAX_AMOUNT_EXCEEDED - Until the predefined maximum amount to be transferred using the standing order is exceeded.
- AFTER_MAX_ITERATION_EXCEEDED - Until the predefined number of iterations is exceeded.

### STANDING_ORDER_FULL (object)

Full set of standing order atributes

#### Properties

- standingOrder (STANDING_ORDER_ENTRY, required) - Standing order entry object (only subset of STANDING_ORDER_FULL).
    - number: 1016 (string, required) - Internal number of the standing order respectively sweep order.
    - status: OK (STANDING_ORDER_STATUS, required) - Represents the status of the order. Possible value: OK.
    - startDate: `2015-03-09T05:21:00+02:00` (string, required) - Date and time when the order was created.
    - realExecutionDate: `2015-04-09` (string, optional) - Real date when the standing order will be processed the next time, taking into account holidays and weekends and local BE processing for SO.
    - stopDateFrom: `2015-02-10` (string, optional) - Date since when the validity of the standing order is suspended.
    - stopDateTo: `2015-02-12` (string, optional) - Date until the validity of the standing order is suspended.
    - maxIterations: 12 (number, optional) - Maximum number of iterations - processing of the standing order. Only applicable in combination with executionMode AFTER_MAX_ITERATION_EXCEEDED.
    - maxAmount (AMOUNT, optional) - Maximum amount to be transferred using the standing order. Only applicable in combination with executionMode AFTER_MAX_AMOUNT_EXCEEDED.

### STANDING_ORDER_STATUS (enum)

Standing order status.

#### Members

- OK - Ok

### STANDING_ORDER_TYPE (enum)

Type of standing order.

#### Members

- STANDING_ORDER - Standing Order

### STATEMENT (object)

Statement.

#### Properties

- id: 201302520130621161819 (string, required) - Statement identifier.
- number: 25 (number, required) - Statement sequence number.
- statementDate: `2013-06-21T14:18:19Z` (string, required) - Date and time of statement creation.
- periodicity: MONTHLY (STATEMENT_PERIODICITY, required) - Periodicity of account statement creation.
- format: PDF_A4 (string, optional) - Format of account statement.
- language: cs (LANGUAGE, required) - Language od account statement.

### STATEMENT_PERIODICITY (enum)

Periodicity enum values for statements.

### Members

- ONCE - Statement will be send only once.
- DAILY - Daily frequency.
- WEEKLY - Weekly frequency.
- Include FREQUENCY

### SUBACCOUNT (object)

Subaccount of the current account.

#### Properties 

- id: BCA4H6885D176E78 (string, required) - Subaccount identifier.
- accountno (ACCOUNTNO_FULL, required) - Subaccount account number.
- type: SAVING (ACCOUNT_TYPE, required) - Type of the subaccount product.
- subtype: SAVING_ACCOUNT (ACCOUNT_SUBTYPE, required) - Subtype type.
- product: 52 (string, required) - Subaccount product code.
- productI18N: Peníze stranou (string, required) - Localized subaccount product name.
- balance (AMOUNT, required) - Subaccount balance.
- creditInterestRate: 0.5 (number, required) - Basic interest rate for subaccount. Value in percentage, e.g. 0.5 will be dispayed as 0,5 %.
- `cz-interestRateOverLimit`: 1.2 (number, optional) - In case of interest rate bands this is the interest rate which applies to value over limit.
- `cz-interestRateLimit` (AMOUNT, optional) - Limit amount for basic credit interest rate used for some saving accounts.

### SUBACCOUNT_LIGHT (object)

Subaccount of the current account light.

#### Properties

- id: BCA4H6885D176E78 (string, required) - Subaccount identifier.
- balance (AMOUNT, required) - Subaccount balance.

### SYMBOLS (object)

Structure for variable symbol, constant symbol and specific symbol.

#### Properties

- variableSymbol: 193460 (string, optional) - Variable symbol.
- constantSymbol: 0308 (string, optional) - Constant symbol.
- specificSymbol: 7853154453 (string, optional) - Specific symbol.

### TEMPLATE (object)

Template object.

#### Properties

- id: C8430E000200B404 (string, required) - Template identifier.
- name: Jan Novák (string, optional) - Template name defined by user.
- orderCategory: DOMESTIC (TEMPLATE_ORDER_CATEGORY, required) - Order category.
- receiver (ACCOUNTNO_FULL, required) - Receiver account number.

### TEMPLATE_ORDER_CATEGORY (enum)

Template order categorry.

#### Members

- DOMESTIC - Domestic payment.
- INTERNATIONAL - International payment.

### USER_SETTINGS (object)

User settings object.

#### Properties

- language: cs (LANGUAGE, required) - Preferred language.
- landingAccountId: CZ3308000000001592286253 (string, required) - Landing account identification.
- tacPhoneNumbers (array[string], optional) - Array of available phone numbers to send a TAC to. Phone numbers are masked f. e. +420777xx777.
    - Items
        - `+420608XXXX77`
- authorizationType: TAN (AUTHORIZATION_TYPE, required) - Authorization type this user uses. Possible values are "TAN" and "TAC".
- passwordExpiresInDays (number, required) - How many days until password expires.
- flags (array[string], optional) - Array of flags.
    - Items
        - displayInsurances - Insurance contracts are displayed in online banking.
        - displayLeasings - Leasing contracts are displayed in online banking.
        - displayBuildings - Buildings society contracts are displayed in online banking.
        - displayCreditCards - Credit cards are displayed in online banking.

## Group Basic Mechanisms

This API is a HTTP-1.1 REST service that provides access to user and accounting data of Erste Bank customers. It is a general purpose API with no single predefined use in mind. The following requirements need to be met:

* highly secure, as sensitive userdata is provided
* fine granular access/permissions (e.g. allow read-only on certain business objects, or different permissions for different clients on the same account, ...)
* low protocol overhead, as it is may be used on smart phones with potentially low bandwidth or high base latency
* low payload overhead (e.g. JSON instead of XML)
* no special-purpose calls for a business case, but atomic, reusable calls

## Server Calls

Server calls are done via https by using one of the following HTTP methods:

| Method | Idempotent | Change State | Purpose |
| ------ | ------ | ------ | ------ |
| GET | yes | no | **select**: read-only call (e.g. get account list) |
| POST | no | yes | **create**: add a new resource (e.g. create a new transaction), call a function |
| PUT | yes | yes | **update**: change an existing resource (e.g. set a message read, lock a card) |
| DELETE | yes | yes | **delete**: remove an existing resource (e.g. delete a message) |

Resources are all URIs that deliver business data (e.g. accounts, transactions, messages, ...) while functions are calls that may or may not return data but do not operate on business data (e.g. login).

All data provided by the client has to be in UTF-8 encoding.

GET, PUT und DELETE calls are idempotent. It does not matter for the server state if this call is used only once or multiple times (with the same resource/payload). POST calls, usually creating new stuff, should not be repeated by clients, because they will result in duplicated data.

Successfull DELETE calls result in a "HTTP 204 - No content" reply and the resource being removed.

The server must support gzip'ed content and all clients are strongly recommendet to request gzip'ed content via the HTTP header:
```
Accept-Encoding: gzip
```

### Authentication and Authorization

This API is not responsible for authentication (i.e. validate if a user/client/principal is who he/she/it claims to be, e.g. by checking user&passwords) but only of authorization (i.e. validate if a user/client/principal can access a resource here and now). Therefore, it is based on a token security concept and only needs to check the validity of such tokens which a client provides for each call as proof it may access the requested data.

As far as this API is concerned, this token is a "black box" which is part of each client request. The API provides the received token to a server-side verification library or service, and if the token turns out to be valid for the specific requested call, the business logic is executed. The API does not have to parse the token itself.

This API can work with any type of token, as long as the following assumptions are valid:

* The token already is in a format/encoding allowed to be passed as HTTP 'Authorization' header field.
* The token is maximum 1024 bytes in length (as it has to be transferred with each request, and on mobile phones every ms counts). However, average tokens should be much shorter (e.g. 256 bytes) to reduce upload traffic for each and every request.
* It is possible (for a library) to verify the validity of the token.
* It is possible (for a library) to derive the user (Verfueger) from the token.
* It is possible (for a library) to derive the **fine granular permissions** from the token. This includes a separate read and write permission down to an individual **business object level** (e.g. one specific account, message or template). However, a token should alternatively refer permissions in larger units, especially on entities the User owns, e.g. "all my accounts".

**Note:** OAuth 2.0 bearer token will be used, which encapsulate SAML permissions. This match the above requirements.

The token in request is sent by the client as HTTP `Authorization:` header:
```
Authorization: Bearer ya29.AHES67zeEn-RDg9CA5gGKMLKuG4uVB7W4O4WjNr-NBfY6Dtad4vbIZ
```

The content of the token and how to generate/validate it is not part of this specification.

### Authentication in File Downloads in Old Browsers

In order to overcome the limitations in old browsers, some file download endpoints supports file downloads as a result of form post calls. These calls return the required file immediately. Authorization information is carried in the hidden field of the form post call.

```
<form action="/api/netbanking/my/cards/id/invoices/2014_02/pdf" method="post"  accept="application/pdf">
   <input type="hidden" name="access_token" value="<token>">
   <input type="submit" value="download" />
</form>
```

### Authentication in File Uploads in Old Browsers

For limitations similar in File downloads in old browsers, some upload endpoints support passing the authorization token in a hidden form field in multipart form posts.

```
<form action="/api/backoffice/donation/ngos/<id>/qlogo" method="post" enctype="multipart/form-data" accept="application/json">
   <input type="hidden" name="access_token" value="<token>">
   <input type="file" name="file">
   <input type="submit" value="upload" />
</form>
```

### Session Cookies

In theory, each server call could be stateless and only use the token to reconstruct state. However, this will probably result in a performance impact, can be a cost issue due increased backend/host requests, and also would render current load balancing infrastructure useless.

Therefore, each time an server call is done that does not provide a standard Java Session Cookie (JSESSIONID), the reply will contain a new such session cookie. It is in the interest of the client to re-provide this cookie with each follow up call to make use of server-side caching. If the cookie is not re-sent, the call still will work but a slower reply will be the result.

```
Set-Cookie: JSESSIONID=Zw4LQndKc2ffHXM7r9NY9r2nBVbJytpnh3lt6p2R9cTQLFNz5CG5!-2028444187;
```

The server will store the last-provided authentication token in the server-side session upon the first call. If the token and the session ID still match on a successive call, then it is not necessary for the server to re-validate the token as long as it is not expired. If however the token does not match to the session ID, which means the client is suddenly providing a new token, the session is immediately destroyed and a new one is created based on the new provided token. The resulting new `JSESSIONID` is sent to the client for re-use in successive calls.

Session Cookies are valid for 2 minutes or the validity of the authentication token, whichever is _shorter_.

### Content Types and Languages

The client has to specify what type of content it expects via ordinary HTTP headers:

```
GET /path/to/some/resource HTTP/1.1
Host: www.example.org
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:16.0) Gecko/20100101 Firefox/16.0
Accept: application/json
Accept-Language: en-US
```

**Accept**: What type of content should be returned. Currently, only `application/json` is supported. This is also the default if no `Accept:` header is given.

**Accept-Language**: In case language-dependent content is in the reply (GUI texts, pre-formatted amounts or dates, ...), the language-dependent infos of this language should be used by the server to translate/pre-format. If no `Accept-Language:` is given, `cs-CZ` is assumed. The server may ignore this field in case the user has a server-side language setting which overrules any request setting.

### Server Side Pagination

All calls that return lists support pagination. The client can request the content in pages providing a **size** and a **page** number. Those are given as URL parameters like the following example: 

`GET /path/to/some/resource?size=25&page=1`

**Page** count starts at zero, so 0 is the first page, 1 the second and so forth. If **size** is given without any **page**, **page** = 0 is assumed. There is no predefined **size** limit. If it is omited, all records are returned in one large list. However, some calls might introduce a size limit due the fact that a certain backend would be overloaded by returning too many items in one call - in such a case, the individual call descriptions will state that clearly.

### Server Side Sorting

Some calls allow their output to be pre-sorted. This can be requested by giving the **sort** and **order** URI parameters, for example:

```
GET /path/to/some/resource?sort=date&order=desc
```

Each call description below states if and what fields it supports to sort. The optional **order** can be either **asc** or **desc** (case insensitive), with **asc** as default. If no **sort** is given, a random order has to be assumed that can change between calls.
Sorting multiple fields at the same time is possible by comma-separating the fields and their corresponding **sort** orders. Sort priorities are left to right, so within the first field it is sorted by the second etc. Missing corresponding **order** entries are considered to be **asc**. For example:

```
GET /path/to/some/resource?sort=date,title,name&order=desc,,desc
```

Sorting by optional attribute in response should be done that way that first will be provided items with value (in requested order) and then items without attribute value (null or missing attribute value).
For paginated output, sorting is done before pagination, so the whole list not only one single page is sorted. Resources/Lists requested without giving any sorting parameters should be considered to be in random order.

### Alternate Header Names

In some cases it might not be possible for an application to change certain HTTP headers. For example, a website calling this API via JavaScript from within an older browser might not be able to override the `Accept:` or `Accept-Language:` header. In such a case corresponding alternate header names prefixed with `X-ebsapi-` can be used. If the server receives such headers, they take precedence over any non-prefixed header that might also be included in the call.

```
X-ebsapi-Accept: application/json
X-ebsapi-Accept-Language: en-US
X-ebsapi-Authorization: Bearer ya29.AHES67zeEn-RDg9CA5gGKMLKuG4uVB7W4O4WjNr-NBfY6Dtad4vbIZ
```

**Note:** This is not a complete list. All HTTP headers mentioned in this document can be prefixed.

### Last Modified

Some calls support the HTTP last modified mechanism (this is stated in those calls that do). For such calls, the client may provide a standard RFC-complaint HTTP `If-Modified-Since` header, and resources delivered by that calls include a `Last-Modified` header.

```
GET /path/to/some/resource HTTP/1.1
Host: www.example.org
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:16.0) Gecko/20100101 Firefox/16.0
If-Modified-Since: Wed, 19 Oct 2005 10:50:00 GMT
```

If the resource was not modified since the given timestamp, a `HTTP 304` is returned (means "not modified"). If the resource was updated on this time or thereafter, the resource is returned. Note: this does not do delta handling. If `If-Modified-Since` is used on a list, all or none items are returned, not only the part of the list that is newer.

Since HTTP's `If-Modified-Since` only supports seconds, but data on the server might be more precise, the following mechanism is in place: If a resource has a last modified date of a fraction of a second, and a client requests this resource within the very same second, the server returns the resource as `Last-Modified` with the second rounded down. E.g. for a resource that has a timestamp of 12:30:00.123, 12:30:00 is returned. If the request is done at a later point in time, the `Last-Modified` second is to be rounded up. This is done to avoid that the client might miss an update due the higher precision of time on the server than in the HTTP headers, at the cost that in the - rare - event, that if a resource is queried at the very same second it was changed, it might be queried twice due the rounded down timestamp.

As an alternative to `If-Modified-Since`, the API also supports a `X-ebsapi-Last-Modified`/`X-ebsapi-If-Modified-Since` header pair. Those accept an XML datetime format (`yyyy-MM-dd'T'HH:mm:ss.SSS'Z'`) with millisecond precision.

```
GET /path/to/some/resource HTTP/1.1
Host: www.example.org
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:16.0) Gecko/20100101 Firefox/16.0
X-ebsapi-If-Modified-Since: 2013-06-05T16:42:22.709Z
```

## Server Request

### JSON

In case of POST / PUT / DELETE requests business data is accepted as JSON data (if it is not binary data). See [Wikipedia](http://en.wikipedia.org/wiki/JSON) for details on JSON.
Empty arrays `[]` and `null` values must be omitted from input data.

### Error Handling

JSR-303 validation is applied to the provided JSON input data according to the appropriate data model.

## Server Reply

All payload data returned by the server is in UTF-8 encoding.

If **no error** occurred, the server replies with a HTTP 200 status code and the payload contains the JSON with all relevant data, or a HTTP 204 status code and no body/payload if the call does not produce data. For **logical errors** like empty fields, field parsing errors, missing mandatory fields etc. the server replies with HTTP 400 and a JSON error object (see section below). For **framework** and **meta-errors** (authentication failed, wrong URL, ...) the corresponding HTTP Error codes are used and the payload contains a JSON error object. If a resource can't be found due to inactive products in BackEnd or wrong id ( e.g. `GET /netbanking/my/contracts/buildings/{id}` ) the server replies with HTTP 404 and a JSON error object describing the reason (e.g. ID\_NOT\_FOUND or PRODUCT\_NOT\_ACTIVATED) has to be returned.

| Code | Purpose |
| ------ | ------ |
| 200 | indicates no technical error happened |
| 204 | like 200, but no body/payload will be sent back |
| 400 * | logical error in parsing request (e.g. ID does not exist, mandatory field missing, ...) |
| 403 * | user not logged in, invalid token, etc. |
| 404 * | this kind of resource does not exist |
| 415 | unsupported media type (Accept/Accept-Language unsupported) |
| 500 | internal error happened (a Java exception happened) |

**Legend:** * - returns JSON error object

### JSON

Business data is returned as JSON data (if it is not binary data like images). See [Wikipedia](http://en.wikipedia.org/wiki/JSON) for details on JSON.
JSON data has no root object and it should look like

```
{
... do this ...
}
```

but **not like this**

```
"objectname" : {
... don't do this ...
}
```

Undefined or unused optional fields are omitted in the JSON output and must not be delivered as `null` nor as empty strings. If the distinction between empty and not available is necessary, of course an empty string is still a valid response.

Empty arrays `[]` and `null` values must be omitted from output data (response payload).

### WebAPI Error Communication

Errors are given as codes of `WORDS_AND_UNDERSCORES` (see also Naming Conventions). It is the responsibility of the FE client application to convert them using the language of the user and data from Error Codetable.

If a call fails with one of the 40x HTTP codes, the payload will contain a top-level `error` JSON array. It contains one entry per logical error that describes more in detail what happened. Errors come in two flavors, as following example output shows:

```
"errors": [
    {
        "error":"SOME_ERROR_CODE"           // error code
    },
    {
        "error":"ANOTHER_ERROR_CODE",       // error code
        "scope":"account.amount.currency"   // optional attribute indicating JSON parameter name that caused the error. Provided by WebAPI logic/validation when applicable
    },
    {
        "error":"OTHER_ERROR_CODE",         // error code
        "parameters": {                     // list of named parameters for current message
            "AMOUNT_ENTERED": 10000,        // named parameter "AMOUNT_ENTERED" and its value
            "CURRENCY": "EUR",              // named parameter "CURRENCY" and its value
            "LIMIT": 500,                   // named parameter "LIMIT" and its value
        }
        "scope":"orders[3].amount.value"    // scope can use array index for identification of particular field
]
```

Simple errors only contain an error key with some textual error code, for example `SESSION_EXPIRED`. Validation errors contain in addition to the error key a scope key that refers to the input element that cause this error. The scope is fully qualified within the JSON input using dots, array items are qualified via `[123]`.

For HTTP status codes errors (e.g. PUT resource returning 404 - Not Found), error code will be returned in "xAPI\_ERROR\_CODE" header attribute. All message parameters will be also returned as header attributes, prefixed by "xAPI\_" (so that AMOUNT\_ENTERED error attribute will be returned as "xAPI\_AMOUNT\_ENTERED").
The following common error codes are defined:

| HTTP Status Code | Error Code | Purpose |
| ------ | ------ | ------ |
| 403 | TOKEN\_NOT\_ALLOWED | The provided token does not allow this call. |
| 403 | TOKEN\_EXPIRED | The provided token is expired. |
| 403 | TOKEN\_INVALID | The provided token not a valid token (syntax error). |
| 400 | FIELD\_NOSORT | The field (given in the "scope" field of the error) can not be used for sorting (does not exist, does not support sorting). |
| 400 | RESOURCE\_NOSORT | Resource does not support sorting. |
| 500 | INTERNAL\_SERVER\_ERROR | A technical exception occurred. |

If a call can produce additional errors, they are listed in each call separately.

## Pagination

If a request requires paginated output (see Server calls/Server side Pagination above), the reply will contain in addition to the array with a page's items the following fields:

```
{
    "pageNumber": (INTEGER),
    "pageCount": (INTEGER),
    "nextPage": [INTEGER],
    "pageSize": (INTEGER),
    "page": [
        { ...item...},
        { ...item...},
        { ...item...}
    ]
}
```

**pageNumber**: The page number of provided list items from total query result set.
**pageCount**: The total count of pages as result of calculation using the requested page size and total records in query result set.
**nextPage**: Optional page number of the next page, if exists the nextPage value equals pageNumber+1, if current pageNumber is the last page of result set then nextPage field is not provided.
**pageSize**: The page size used. Either the number supplied by the client in request is returned here, or in case there is a page size limit for call and its value is less than the requested one, the actual size is returned.
**page**: The page's items. Note that `page` can be any name, e.g. `accounts`, `cards`, `transactions`.

## Naming Conventions

### JSON Fields

* Field names are in English.
* Field names are written camelCase.
* The first letter is always lowercase.
* Arrays have plural names and end with **s** or **es**.
* Abbreviations are always written with first letter uppercase (IBAN -> Iban).
* The main ID of an object is called just **id**.
* All other referred ids are given via the name of the referred object plus 'Id'.
* Field names do not have a prefix of the object type, so it's not **accountName** but just **name**.

Examples:

```
{
    "id": 1,
    "anotherId": 5,
    "remoteIds": [ 7, 8, 9 ],
    "flyingWalruses": [ "walrus 1", "walrus 2" ],
    "iban": "some IBAN",
    "someOtherIban": "other IBAN",
    "flags": [ ... array ... ]
}
```

### Error Codes

* Error codes are English.
* Error codes are given all uppercase.
* Underscores separate multi-word codes.
* Error codes are self-explanatory descriptions, not internal codes or strings without obvious meaning.
* Error codes follow a NOUN or NOUN\_ADJECTIVE pattern.
* Error codes are **not** UI-Texts and need a mapping first.
* Error codes may get long if that helps to increase clarity.

Examples:

```
ID_NOT_FOUND
SYNTAX_ERROR
DAILY_LIMIT_EXCEEDED
WALRUS_FLEW_AWAY
CLARITY_INCREASED_BY_VERY_LONG_ERROR_CODES
```

### Flags

Entries for the (FLAG) datatype (definition below) follow the same conventions as JSON-Fields. In addition the following rules apply:

* Flags follow a "noun" or "nounAdjective" pattern.

Examples:

```
defaultAccount
domesticPaymentAllowed
```

### API Versioning

It is important to present API version of the endpoint, which is used in WebAPI in user call. If an endpoint is marked to use certain version of API then please use the given version when calling the given endpoint. If no version is used in request call, then the most current version of API is used.

## Group Signing of Resources

Most of create/update/delete active calls done by the user/application need to be signed by using particular authorization method, to confirm user intention to execute active operation and authorize user with some security tools in the same time. Following list enumerates some of the possible authorization methods used in FE:

*  **NONE** - validation of user response as confirmation (e.g. confirm button click)
*  **TAC** - validation of user response as randomly generated number/code sent to user personal device via SMS
*  **CASE\_MOBILE** - validation of the user response using mobile application, this method have three forms (user can choose which he'll use)
**  **ONLINE** - mobile application receives PUSH notification with relevant data for authorization and user just clicks confirmation button in mobile application (data are sent over internet to bank)
**  **QR** - mobile application retrieves relevant data for authorization by reading QR code displayed in frontend application, generates onetime password and user inserts this OTP into frontend application to authorize operation
**  **CODE** - frontent application displays relevant data for authorization to user, he inserts it to mobile application, application generates onetime password and user inserts this OTP into frontend application to authorize operation

Depending on the business defined characteristic of an entity/resource, creating/updating/deleting action requires an optional signing process. There are two different types of action orders:

* **Immutable orders** - active calls which create/change resource (stored in local BE system) only after succesful signing by user
* **Manageable orders** - active calls which allow to create/update/deleate particular order (temporarily stored in local BE system) and only after user signing this order is sent to BE processing

### Signing Immutable orders [/netbanking/my/{+resourcePart}/sign/{signId}]

It's not possible to read/update/delete an already existing order (request to execute active operation with resource). Existing orders/requests are only persisted for a 6 months, afterwards the orders get automatically cleaned (deleted). 

These orders (to create/modify particular resource) should be stored in local system and signId should be generated as identificator of particular order/request. This signId then will be used in signing process steps as reference ID. 

Therefore response payload of every POST | PUT | DELETE request for particular signable resource must include the signId. The real resource object is not created, updated, deleted as long as the signing process is not succesfully finished.

A signable resource has an URI identifying the resource, for example (this is not a taxative list):

```
.../netbanking/my/profile
.../netbanking/my/contacts       // for POST there is not generated ID yet
.../netbanking/my/contacts/{id}  // for PUT and DELETE we already know ID
.../netbanking/my/accounts/{id}
.../netbanking/my/cards/{id}
```

If a signable resource is created (POST) or updated (PUT) or removed (DELETE), local system has to store this active request and generate signID and provide it in response payload of call as part of SIGNINFO structure. Then FE application needs to call the ...`*/sign/{signId}` endpoint for original resource to apply signing process (with signId reference to temporary order request), for example:

```
.../netbanking/my/profile/sign/{signId}
.../netbanking/my/contacts/sign/{signId}        // different signing endpoint for POST
.../netbanking/my/contacts/{id}/sign/{signId}   // different signing endpoint for PUT, DELETE
.../netbanking/my/accounts/{id}/sign/{signId}
.../netbanking/my/cards/{id}/sign/{signId}
```

Signing process has three steps **GET**, **POST**, **PUT**. Following chapters will describe consecutive signing steps GET, POST and PUT.

#### Signing - step 1 - GET [GET]

First step is to obtain all information to enable the client to sign this request (allowed authorization methods, phones/devices to use) represented by **"signId"**.

##### Error Codes

| HTTP Status Code | Error Code | Purpose |
| ------ | ------ | ------ |
[...]
